<section class="news-detail-header-section text-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h1 class="text-white">Customer Grievance Policy (for JVMPAY Wallet consumers)
                </h1>
            </div>

        </div>
    </div>
</section>
<section class="news-section section-padding">
    <div class="container">
        <section class="section" id="Policy">
            <h2>Customer Grievance Policy (for JVMPAY Wallet consumers)</h2>
            <br />
            <h4></h4>
            <p style="text-align: justify">
                The purpose of the document is to provide information to JVMPAY customers of the various channels available through which they can reach out to JVMPAY for any grievance on JVMPAY services and timelines for grievance resolution. JVMPAY has a dedicated
                Customer Care team for managing any customer queries and grievances, if any.
            </p>
            <br />
            <h5>We value our customers:</h5>
            <p style="text-align: justify">
                Customers can share their feedback or grievance, on any of the JVMPAY services, towards any deficiency in service or any communication, they have with JVMPAY employees, on which they are not satisfied.
            </p>

            <br />
            <h5>Following mentioned below are the channels through which customers can send in their Complaints Queries or Requests</h5>
            <table>
                <thead>
                    <tr style="border:1px solid #000;text-align:center">
                        <th style="border:1px solid #000">Channel</th>
                        <th style="border:1px solid #000">Contact Details</th>
                        <th style="border:1px solid #000">Working Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border:1px solid #000;text-align:center">
                        <td style="border:1px solid #000">Phone</td>
                        <td style="border:1px solid #000">JVMPAY Customer care: +91 120-3100616</td>
                        <td style="border:1px solid #000">09.00 AM to 10.00 PM
                            <br />
                            <small>Monday to Saturday</small></td>
                    </tr>
                    <tr style="border:1px solid #000;text-align:center">
                        <td style="border:1px solid #000">Email</td>
                        <td style="border:1px solid #000">Write to: info@jvmpay.com</td>
                        <td style="border:1px solid #000">09.00 AM to 10.00 PM
                            <br />
                            <small>Monday to Saturday</small></td>
                    </tr>
                    <tr style="border:1px solid #000;text-align:center">
                        <td style="border:1px solid #000">Courier</td>
                        <td style="border:1px solid #000">Tower-B, Floor-8th, Office No-819, KLJ Noida One B 8, Block B, Industrial Area, Sector 62, Noida, Uttar Pradesh 201301</td>
                        <td style="border:1px solid #000">09.00 AM to 10.00 PM
                            <br />
                            <small>Monday to Saturday (Except Govt. Holidays and National Holidays).</small></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h4></h4>
            <p style="text-align: justify">
                The above mentioned channels are for redressal of JVMPAY customer grievances or complaints, providing online support wherever possible, and for capturing customer feedback on JVMPAY services. JVMPAY on receipt of any complaint, grievance or feedback will
                reach out to the respective customer and the same will be resolved in the specified timeline as communicated below. If any of the above complaint/grievance is not addressed to the satisfaction of the customer in the below specified timeline,
                then the customer can choose to escalate the same to Level 2 of the escalation level as given below, with the original complaint ticket no and the details there off, of the issue raised. The escalation process is as mentioned below in
                the Escalation section.
            </p>

            <br />
            <h5>Note – escalations without an Original Complaint ticket number will not be treated as an escalation</h5>
            <small>Customer Resolution Timelines:</small>
            <table style="text-align:center">
                <thead>
                    <tr>
                        <th style="border:1px solid #000">No.</th>
                        <th style="border:1px solid #000">Complaint Type</th>
                        <th style="border:1px solid #000">Estimated Timelines (SLA)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px solid #000">1</td>
                        <td style="border:1px solid #000">Any JVMPAY Wallet Transaction related issue</td>
                        <td style="border:1px solid #000">Within 7 working days of receipt of the grievance. (In case of involvement of any third parties in resolution, timelines followed by leading banks/partner would be applied and communicated to customers)</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000">2</td>
                        <td style="border:1px solid #000">JVMPAY Wallet related issues</td>
                        <td style="border:1px solid #000">5 Working Days</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h6>The process is split into two steps:</h6>
            <p style="text-align: justify">
                <b>1. Acknowledgement: </b>Acknowledgement of consumer query or complain will be sent to the customer. This will be delivered via email, based on availability of email id of the customer.
                <br />
                <b>2. Resolution: </b>Response will be sent to the consumer either in form of resolution, or for any further communication/detail required to resolve the consumer concern.
                <br />
                <b>Escalation Matrix:</b> JVMPAY provides 3 layered customer support
                <table style="text-align: center">
                    <thead>
                        <tr>
                            <th style="border:1px solid #000">Levels</th>
                            <th style="border:1px solid #000">Person/Team</th>
                            <th style="border:1px solid #000">Mode</th>
                            <th style="border:1px solid #000">Escalation protocol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border:1px solid #000">Level 1</td>
                            <td style="border:1px solid #000">JVMPAY Customer Care</td>
                            <td style="border:1px solid #000">JVMPAY Customer care: +91 120-3100616<br /> Write to support@jvmpay.com </td>
                            <td style="border:1px solid #000">JVMPAY Customer Care team will acknowledge the grievance immediately on the receipt of complaint in the form of: Auto response in case of Emails: Answering the calls at the call center. In all the scenarios a reference number
                                (Ticket No) would be provided for all future communication around the particular complaint. The customer will also be kept informed on the progress towards the final resolution or communicate any delays in redressing the
                                concern. All complaints would be closed only basis the customer’s feedback and acceptance of closure.
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000">Level 2</td>
                            <td style="border:1px solid #000">JVMPAY Customer Care</td>
                            <td style="border:1px solid #000">JVMPAY Customer care: +91 120-3100616<br /> Email to: info@jvmpay.com</td>
                            <td style="border:1px solid #000">In case the customer is not satisfied with the Resolution provided by Level 1 executives Breach in the above-mentioned Service Level Agreements or timelines Behavior of any representative or sat! member at JVMPAY
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000">Level 3</td>
                            <td style="border:1px solid #000">Nodal Officer</td>
                            <td style="border:1px solid #000">Registered post/courier: Attn: Nodal Officer Email to:nodalofficer@jvmpay.com</td>
                            <td style="border:1px solid #000">In case the customer is still not satisfied with the resolution provided or delay in response beyond the timelines communicated even after following the above-mentioned escalation steps, the customer can escalate the concern
                                to the highest level * Please note all the complaints sent to this level would be entertained only if the communication sent contains the complaint number shared at level 1
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- </p> -->
        </section>
    </div>
</section>