<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4">
                <img src="assets/img/logo.png" class="logo img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <h5 class="site-footer-title mb-3">Quick Links</h5>

                <ul class="footer-menu">
                    <li class="footer-menu-item"><a routerLink="about" class="footer-menu-link">About Us</a></li>

                    <li class="footer-menu-item"><a routerLink="presence" class="footer-menu-link">Our Presence</a></li>

                    <li class="footer-menu-item"><a routerLink="terms" class="footer-menu-link">Terms & Conditions</a></li>
                    <li class="footer-menu-item"><a routerLink="privacy" class="footer-menu-link">Privacy Policy</a></li>
                    <li class="footer-menu-item"><a routerLink="wallet-terms" clasys="footer-menu-link">Wallet Conditions</a></li>
                    <li class="footer-menu-item"><a routerLink="gp" class="footer-menu-link">Grievance Policy</a></li>

                    <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Become a volunteer</a></li> -->

                    <!-- <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a></li> -->
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone me-2"></i>

                    <a href="tel: +91 120-3100616" class="site-footer-link">
                        +91 120-3100616
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:" class="site-footer-link">
                        info@jvmpay.com
                    </a>
                </p>

                <p class="text-white d-flex mt-3">
                    <i class="bi-geo-alt me-2"></i>Noida One B 8, Block B Industrial Area, Sector 62, Noida, Uttar Pradesh 201309
                </p>

                <a href="#" class="custom-btn btn mt-3">Get Direction</a>
            </div>
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text mb-0">Copyright © 2022 <a href="#"><strong>JVMPAY</strong></a>
                        <a href="#" target="_blank"></a>
                        <!-- <a href="https://themewagon.com">ThemeWagon</a> -->
                    </p>
                </div>

                <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-linkedin"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>