<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="text-white mb-3">Contact Us</h2>

                <form class="custom-form volunteer-form mb-5 mb-lg-0" #cform="ngForm">
                    <h3 class="mb-3">Get In Touch With Us!</h3>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <input type="text" id="volunteer-name" name="name" class="form-control" placeholder="Enter Name" required>
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="email" name="email" id="volunteer-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Info@gmail.com" required>
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="text" name="volunteer-subject" name="subject" id="volunteer-subject" class="form-control" placeholder="Subject" required>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="input-group input-group-file">
                                <input type="file" class="form-control" id="inputGroupFile02">

                                <label class="input-group-text" for="inputGroupFile02">Upload Your Query.</label>

                                <i class="bi-cloud-arrow-up ms-auto"></i>
                            </div>
                        </div>
                    </div>

                    <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message" placeholder="Comment (Optional)"></textarea>

                    <button type="submit" class="form-control">Submit</button>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                <img src="assets/img/contact-us.png" class="volunteer-image img-fluid" alt="">

                <div class="custom-block-body text-center">
                    <h4 class="text-white mt-lg-3 mb-lg-3">JVMPAY</h4>

                    <p class="text-white">We Offer High-Tech Platform And App For Retailer's To Perform Domestic Money Transfer Services To Any Bank Across India, Aadhaar Enabled Payment Services, Prepaid Recharge, DTH Recharge, Bill Payments, Utility & BBPS Services</p>
                </div>
            </div>

        </div>
    </div>
</section>