<section class="news-detail-header-section text-center">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h1 class="text-white">Privacy & Policy
                </h1>
            </div>

        </div>
    </div>
</section>

<section class="news-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-12">
                <div class="news-block">


                    <div class="news-block-info">
                        <div class="d-flex mt-2">

                        </div>

                        <div class="news-block-title mb-2">
                            <h4><strong>Introduction</strong> </h4>
                        </div>

                        <div class="news-block-body">
                            <p>Jaharvir Infinet private limited (“Company”, “We”, “Us” and “Our”) respects the privacy of its users on www.jvmpay.com and the software applications of the Company, including but not limited to, JVMPAY Super distributor, Distributor
                                app, Retailer App, JVMPAY Retailer – Aadhar pay, Bill Payment and DMT app, JVMPAY Digital Banking app, JVMPAY Digital Onboarding app, JVMPAY Consumer app and any other application developed by the Company (“Apps”), (Website
                                and Apps together called “Platform”). For the purposes of this User Agreement, the term “User(s)” and wherever the count so requires “You”, “Your”, “Yourself” shall mean any natural or legal person who accesses or uses
                                the Application and in the event that a natural person representing a business entity, reference to such terms shall include a reference to the business entity. We have adopted this privacy policy (“Privacy Policy”) to
                                inform You of what information We collect from You on or through the Platform, how We collect the information, how We may use it and the steps We take to protect it. Capitalized terms not defined herein shall have the meaning
                                ascribed to them i the Terms of Use of the Platform. By using the Platform, You unconditionally agree to the terms and conditions of this Privacy Policy and consent to usage, storage and handling of the information submitted
                                by You in accordance with the terms contained hereunder. If You do not agree with the terms and conditions of this Privacy Policy, please do not proceed further to use the Platform.

                            </p>
                            <div class="news-block-title mb-2">
                                <h4><strong>User Information</strong> </h4>
                            </div>
                            <p>The Company collects Users’ personal information to provide and facilitate services to the User. These include but are not limited to: name, gender, mailing address, telephone numbers, PIN code, email addresses, bank account
                                details, biometric scanning information, government identification documents and other information that may be required for providing the services requested by the User. The services include Aadhar enabled payment direct
                                money transfer, cash management services, bill payments, mobile and DTH recharges, health insurance facilitation and payments, financing facilitation and other digital services. (“Services”). All this information is provided
                                voluntarily by the User through initiation of various Services in the Platform or with our agents at brick and mortar stores or certain times, online or through the procedure undertaken for e-KYC of the User, for availing
                                o Services. We may also collect KYC documents while engaging agents/consultants (retailer), with the consent of such retailers. We partner with third party service providers such as insurance aggregators, financing facilitators
                                and other service providers, with the intention of making such services available to our retailers. In such cases, we transfer certain personal information of retailers such as name, phone number, address, gender, date
                                of birth, bank account details, KYC data etc. with such partner third-party service providers, only with the consent of retailers. This information shall be used only for providing such third-party services to retailers.
                                We may use your above mentioned information for communicating with you including send transaction details, transaction confirmation details, Service related information, Company information or promotional information, via
                                SMS or by using internet based messaging applications such as WhatsApp. When You use our Platform or Services, we may collect and store your personal information in order to record, support and facilitate your participation
                                the Services to provide you with a customized site experience to notify you of any updated information. We collect your information mainly to provide t service requested by you. It is used for Service provision and ongoing
                                User's support. The information can also be used by the Company for sending periodic emails announcing important service changes, new features, technical issue updates and news, etc. The Users may decide NOT to receive
                                such emails by replying to any of them with “Unsubscribe” in the subject. The information is also used for purposes like improving the efficiency and effectiveness of the Platform/Website. We may share basic User information
                                (Mobile Number, Name etc.) with the agencies appointed by us to send out SMS, Email communications or WhatsApp communications related to our business. We have ensured that these parties shall keep any Personally Identifiable
                                Information provided by confidential and will not be initiating any unsolicited communication messages to you. When You submit User Information on the Platform, it shall be deemed that You have granted Us the right to collect,
                                store, process, handle and use such User Information, in accordance with this Privacy Policy.

                            </p>

                            <blockquote>We Are Here Bound To Provide Best Market Services To Our Customers.</blockquote>
                        </div>

                        <div class="row mt-5 mb-4">
                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <!-- <img src="images/news/africa-humanitarian-aid-doctor.jpg" class="news-detail-image img-fluid" alt=""> -->
                            </div>

                            <div class="col-lg-6 col-12">
                                <!-- <img src="images/news/close-up-happy-people-working-together.jpg" class="news-detail-image img-fluid" alt=""> -->
                            </div>
                        </div>
                        <div class="news-block-title mb-2">
                            <h4><strong>Collection of routine information
                            </strong> </h4>
                        </div>

                        <p>Certain information may be collected each time You access or use the Platform which are saved in server logs, which includes IP address used by You to connect to the internet and operating system and browser on/from which You are
                            accessing the Platform. We collect information to provide better services to all our Users. In addition to the data collected above, we may also collect identifiers for mobile devices, geographical information of Users, device
                            information, details relating to the use of Platform by You including the version of the Platform used by You, actions performed by Users etc. It is clarified that these statistics help Us in improving the efficiency of the
                            Platforms by giving Us information relating to Your use of the Platform. Such information may include details of Your last visit to Platforms, including time, date and the duration of Your session on the Platform. This information
                            is used by Us to understand the broad demographic information for aggregate use of the Website and to improve Your user experience of the relevant platform.</p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Data Collection Devices
                                </strong> </h4>
                        </div>
                        <p>We use data collection devices known to collect and store information of Users accessing the Platform, including cookies and trackers. This helps in improving Your experience on the Website. This anonymous information is maintained
                            distinctly and is not linked to the User Information You submit Us.

                        </p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Use of User Information
                                </strong> </h4>
                        </div>
                        <p>We use your personal information to facilitate the Services that you request. We do not sell, rent, trade or exchange any personally identifying information of our Users. We may also use your personal information to display contents
                            and services that are targeted to your interests. By accepting the Terms of Use and Privacy Policy, you expressly agree to receive this information. We may provide your collected information to our affiliates and service provider
                            or vendors under contract (such as customer care, data analytics) to support the operation of the Platform/Website and our Services. To the extent we your personal information, we will provide you the ability to opt-out of
                            such uses. Such an opt-out may in some cases, result in discontinuation of use Services by You, as We rely on some service providers and vendors to assist us in providing Services. Further, we use your personal information
                            to: resolve disputes; troubleshoot problems; help promote safe transactions; collect fees owed; measure use interest in the services provided by us, inform you about online and offline services and updates; customize your experience;
                            detect and protect us again error, fraud and other criminal activity and as otherwise described to you at the time of collection. In our efforts to continually improve our service offerings, we also collect and analyze demographic,
                            account and usage data about our users' activity on our Platform/Website. User Information provided by You is used by Us for the following purposes: We may use your Personal Information to (i) administer the Services, (ii)
                            personalize the Services offered to Users, (iii) facilitating Your use of the Platform end to User direct links to the Services, (iv) process transactions, process installations, (v) send newsletters/ updates to Users, (vi)
                            develop, deliver, and improve our products, services, content, and advertising, (vii) send important notices, such as communications about purchases/downloads and Chan to our policies, (viii) auditing, data analysis, and research
                            to improve the Services, (ix) troubleshooting and helping us understand usage trends, (x) send alerts to Users personalizing Your experience on the Platform and marketing, (xi) promotion of the Services, (xii) prevention of
                            fraud or abuses of the Platforms, (xiii) protecting the integrity of the Platforms, and (xiv) to respond to judicial process and provide information to law enforcement agencies o connection with an investigation on matters
                            related to public safety, as permitted by law.

                        </p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Retention of User Information

                                </strong> </h4>
                        </div>
                        <p>We shall retain User’s Personal Information for the period necessary to fulfil the purposes outlined in this Policy unless a longer retention period is required or permitted by law.</p>

                        <div class="news-block-title mb-2">
                            <h4><strong>Sharing of User Information

                                </strong> </h4>
                        </div>
                        <p>Your User Information, except any Personally Identifiable Information, may be shared with such third parties as are required for facilitating the communication of offers and services tailored for You and to grow Our business which
                            may include Our affiliates, strategic partners, investors, suppliers vendors, consultants and service providers as the case maybe. The User Information may be saved in servers situated in India. Except as provided herein, We
                            shall specifically disclose Your User Information including Your Personally Identifiable Information in circumstances when i. The User has provided instructions or consent towards such disclosure. ii. We in good faith believe
                            that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental or regulatory request; (b) enforce the applicable
                            User Agreement or Privacy Policy; (c) detect prevent, or otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the rights, property or safety of the Company, its Users or the public
                            as required or permitted by law; and iii. The User Information that We collect may also be transferred as an asset in connection with a merger or sale (including any transfers made as a par of an insolvency or bankruptcy proceeding)
                            involving all or part of the Company or as part of a corporate reorganization, stock sale or change of ownership or control.

                        </p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Security Precautions

                                </strong> </h4>
                        </div>
                        <p>To prevent any form of unlawful interception or misuse of User Information, We use reasonable physical, electronic, and managerial procedures to safeguard and secure the User Information collected. We use reasonable secure and
                            technologically appropriate measures, in compliance with the Information Technology Act, 2000 and the rules related thereto to protect You against loss or misuse of Your User Information including internal reviews data collection,
                            storage and processing practices and other reasonable security measures which are equivalent to security measures that We use to protect Our own confidential information. However, as You are aware, no online application or
                            website is free of security risks and We do not make any representation in respect of the same. We do not warrant that Our Platform or any electronic communication made by Us, our affiliates and/or other third parties is free
                            from virus or other harmful effects. In the event of any errors in transmission or due to an act of a third party, We shall have no liability. You explicitly agree that Your use of the Platform, information and/or services
                            is at Your own individual risk. You agree and confirm that Your User Information may be transferred, processes and stored across national borders. You hereby confirm that You have been made aware of the security measures undertaken
                            by Us and You expressly consent to Us storing, handling, using Your User Information.</p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Links to other third-party sites

                                </strong> </h4>
                        </div>
                        <p>The Platform may provide third party information and links to other websites or applications that are not affiliates of or operated or controlled by Us including but not limited to support service websites, advertisements and/or
                            facilities that You access from the Website (“External Links”). Further, up You choosing to place any enquiry regarding any third-party products or services, Your User Information may be shared with third parties including
                            who are not operated or controlled by Us (“External Entities”). We are not responsible for any form of transmission, whatsoever, received by You from any External Link or External Entities and accordingly do not make any representations
                            concerning the privacy practices or other policies of the providers of such External Links or External Entities. Under no circumstances shall the Company be deemed to control or guarantee the accuracy, integrity, or quality
                            of the information, data, text, software, sound, photographs, graphics, videos, cookies, messages or other materials available on or through such Extern Links or which is part of any communication by any External Entities.
                            Any User Information provided by You to such External Links and External Entities shall be governed in accordance with the privacy policies of such External Links and/or External Entities and it is recommended that You review
                            their privacy policy prior to providing any information thereto.

                        </p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Advertisement

                                </strong> </h4>
                        </div>
                        <p>We may include third party advertising and links to websites/applications that do not belong or are not controlled by Us. The controllers of such third- party websites (“Third Party Advertiser”) or applications may receive some
                            User Information using devices and technologies to make their advertising more effective. We may not have control over such technologies or devices used by the Third Party Advertiser and We do not represent or warrant anything
                            pertaining to the security practices followed by the Third Party Advertiser. The User Information collected by such Third Party Advertiser is governed by their respective privacy policy.

                        </p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Change in Privacy Policy

                                </strong> </h4>
                        </div>
                        <p>We reserve the right to update, modify and amend the any of the terms of Our Privacy Policy, at any time without prior intimation to You. We will post these changes on the Website. These changes will become effective immediately
                            on posting. We shall not be liable for any failure or negligence on Your part to review the updated Privacy Policy before accessing or using the Website. Your continued use of the Website, following changes to the Privacy Policy,
                            will constitute Your acceptance of those changes.</p>
                        <div class="news-block-title mb-2">
                            <h4><strong>Force Majeure

                                </strong> </h4>
                        </div>
                        <p>Notwithstanding anything contained in this Privacy Policy or elsewhere, We shall not be held responsible for any loss, damage or misuse of Your User Information, if such loss, damage or misuse is attributable to a Force Majeure
                            Event. "Force Majeure Event" shall mean any event that is beyond Our reasonable control and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, epidemics, strikes or industrial
                            action of any kind, riots, insurrection, war, acts of government, network errors, computer hacking, technical snags, unauthorized access to computer da and storage device, breach of security and encryption and any other like
                            event beyond Our control.</p>

                        <div class="news-block-title mb-2">
                            <h4><strong>Disputes

                                </strong> </h4>
                        </div>
                        <p>You acknowledge and agree that any dispute over privacy is subject to the terms and conditions of this privacy policy, as well as, if applicable, the term use between you and the Company. You shall submit to the exclusive jurisdiction
                            of the Indian courts at Noida, Uttar Pradesh in relation to disputes arising in connection with this privacy policy.

                        </p>

                        <div class="news-block-title mb-2">
                            <h4><strong>Contacting Us

                                </strong> </h4>
                        </div>
                        <p>If You have any questions about (i) this Privacy Policy; (ii) practices pertaining to the Platform, or (iii) Your dealings with this Platform or believe that We have not adhered to the terms of this Privacy Policy, You may contact
                            the Grievance Officer of the Company at: info@jvmpay.com</p>
                        <div class="social-share border-top mt-5 py-4 d-flex flex-wrap align-items-center">
                            <div class="tags-block me-auto">

                            </div>

                            <div class="d-flex">
                                <a href="#" class="social-icon-link bi-facebook"></a>

                                <a href="#" class="social-icon-link bi-twitter"></a>

                                <a href="#" class="social-icon-link bi-printer"></a>

                                <a href="#" class="social-icon-link bi-envelope"></a>
                            </div>
                        </div>








                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-12 mx-auto mt-4 mt-lg-0">
                <form class="custom-form search-form" action="#" method="post" role="form">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">

                    <button type="submit" class="form-control">
                        <i class="bi-search"></i>
                    </button>
                </form>

                <h5 class="mt-5 mb-3">Our Presence</h5>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a href="#">
                            <img src="assets/img/bg.png" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a href="#" class="news-block-title-link">Services</a>
                            </h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <!-- <i class="bi-calendar4 custom-icon me-1"></i> October 16, 2036 -->
                            </p>
                        </div>
                    </div>
                </div>

                <div class="news-block news-block-two-col d-flex mt-4">
                    <div class="news-block-two-col-image-wrap">
                        <a href="#">
                            <img src="assets/img/cta-bg-removebg-preview.png" class="news-image img-fluid" alt="">
                        </a>
                    </div>

                    <div class="news-block-two-col-info">
                        <div class="news-block-title mb-2">
                            <h6><a href="#" class="news-block-title-link">App Shots</a>
                            </h6>
                        </div>

                        <div class="news-block-date">
                            <p>
                                <i class="bi-calendar4 custom-icon me-1"></i> JVMPAY Achieveing New Heights.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="category-block d-flex flex-column">
                    <h5 class="mb-3">catalog</h5>

                    <a href="#" class="category-block-link">
                        Bill Payment
                        <!-- <span class="badge">20</span> -->
                    </a>

                    <a href="#" class="category-block-link">
                        Money Transfer
                        <!-- <span class="badge">30</span> -->
                    </a>

                    <a href="#" class="category-block-link">
                        EMI Payment
                        <!-- <span class="badge">10</span> -->
                    </a>

                    <a href="#" class="category-block-link">
                        travels
                        <!-- <span class="badge">15</span> -->
                    </a>

                    <a href="#" class="category-block-link">
                        BBPS
                        <!-- <span class="badge">20</span> -->
                    </a>
                </div>

                <div class="tags-block">
                    <h5 class="mb-3"></h5>

                    <a href="#" class="tags-block-link">
                        DMT
                    </a>

                    <a href="#" class="tags-block-link">
                        Aeps
                    </a>

                    <a href="#" class="tags-block-link">
                        Recharge
                    </a>

                    <a href="#" class="tags-block-link">
                        Bills
                    </a>

                    <a href="#" class="tags-block-link">
                        Electricity
                    </a>

                    <a href="#" class="tags-block-link">
                        Fund Transfer
                    </a>

                    <a href="#" class="tags-block-link">
                        DTH
                    </a>
                </div>

                <form class="custom-form subscribe-form" action="#" method="post" role="form">
                    <h5 class="mb-4">Contact Us</h5>

                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email Address" required>

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>